page-login {
  ion-item{
    padding: 0!important
  }
  ion-label{
    padding: 18px;
  }
  .logo{
    text-align: center;
    display: block;
    padding: 50px;
  }
  .fa-car{
    font-size: 120px;
    color:#488aff;
  }
  .register{
    font-size: 16px;
  }

}
