page-signup {
    ion-item{
      padding: 0!important
    }
    ion-label{
      padding: 18px;
    }
    .register{
      font-size: 16px;
    }
    .logo{
      text-align: center;
      display: block;
    }
    .fa-car{
      font-size: 50px;
      color:#488aff;
    }
}
